* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ----------------------------Header Starts---------------- */
.header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  .logo img {
    margin: 20px 20px;
    height: 25px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .navi {
    margin-top: 20px;
    margin-right: 390;
    & ul {
      /* display: none; */
      list-style: none;
      display: flex;
      margin-right: 400px;
      & li {
        margin: 5px 18px;
        /* display: flex; */
        & a {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
    }
  }
}

.header .navi input{
  display: none;
}
.header .navi label{
  display: inline;
  font-size: 1.5rem;
  margin-right: -300px;
  float: right;
}

/* ----------------------------Header Ends---------------- */

.me {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 90px auto;
  background-color: #f9f9ff;
  .textarea {
    width: 30%;
    margin: 170px 10px;
    & h5 {
      margin: 30px 0;
      word-spacing: 3px;
      letter-spacing: 2px;
    }
    & h1 {
      font-size: 3.6rem;
      margin: 30px 0;
    }
    & p {
      opacity: 0.6;
      margin-bottom: 30px;
    }
    & input {
      padding: 11px 33px;
      outline: none;
      border: none;
      background: linear-gradient(#8393ff, #63bdfc);
      color: #fff;
      font-weight: bold;
      box-shadow: 2px 2px 5px #0000004f;
      transition: all 0.5s;
      &:hover {
        border-radius: 30px;
        transform: scale(1.2);
      }
    }
  }
  .myimg img {
    transform: translateY(65px);
    height: 90%;
  }
}

.aboutme {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 90px auto;
  .myimg img {
    transform: translateY(100px);
  }
  .textarea {
    width: 30%;
    margin: 50px 70px;
    & h5 {
      margin: 30px 0;
      word-spacing: 3px;
      letter-spacing: 2px;
    }
    & h1 {
      font-size: 2rem;
      margin: 30px 0;
    }
    & p {
      opacity: 0.6;
      margin-bottom: 30px;
    }
    & input {
      padding: 11px 33px;
      outline: none;
      border: none;
      background: linear-gradient(#8393ff, #63bdfc);
      color: #fff;
      font-weight: bold;
      box-shadow: 2px 2px 5px #0000004f;
      transition: all 0.5s;
      &:hover {
        border-radius: 30px;
        transform: scale(1.2);
      }
    }
  }
}

.servicearea {
  width: 70%;
  height: fit-content;
  padding: 30px 0px;
  text-align: center;
  justify-content: center;
  margin: auto;
  & h1 {
    font-size: 2.3rem;
    padding: 30px;
  }
  & p {
    opacity: 0.6;
    padding-bottom: 30px;
  }
}

.services {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  align-items: center;
  .container {
    height: 250px;
    width: 300px;
    position: relative;
    justify-content: center;
    margin: 20px auto;
    border-radius: 15px;
    transition: all 0.3s;
    &:hover {
      background-color: #a1d3f74f;
      transform: scale(1.05);
    }
    & img {
      height: 50px;
      display: flex;
      margin: 22px auto;
    }
    .rocket {
      transform: scale(2);
      margin: 25px auto;
      display: flex;
    }
    & i {
      width: 100%;
      margin: 20px auto;
      display: flex;
      font-size: 50px;
      justify-content: center;
    }
    & h2 {
      text-align: center;
      margin: 15px auto;
      opacity: 0.8;
    }
    & p {
      opacity: 0.6;
      text-align: center;
    }
  }
}

.celint {
  height: 300px;
  width: 100%;
  display: flex;
  background: linear-gradient(40deg, #8491ff, #63bbfc);
  justify-content: center;
  align-items: center;
  .container {
    padding: 0 70px;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    & h1 {
      font-size: 3rem;
      padding: 10px 0;
    }
  }
}

.section {
  width: 95%;
  height: fit-content;
  margin: 80px auto;
  justify-content: center;
  .text {
    text-align: center;
    margin: 80px auto;
    & h1 {
      margin: 15px;
    }
    & p {
      opacity: 0.6;
    }
  }
  .items {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .container {
      position: relative;
      height: 300px;
      width: 200px;
      margin: 20px 15px;
      .img {
        position: relative;
        background-color: #3a57e7;
        height: 200px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: ;
        & img {
          height: 200px;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      & h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 1rem;
      }
      & p {
        text-align: center;
        margin: 3px auto;
      }
    }
  }
}

.section3 {
  width: 100%;
  justify-content: center;
  margin: auto;
  height: fit-content;
  .text {
    width: 100%;
    text-align: center;
    margin: 50px auto;
    & h2 {
      font-size: 2.5rem;
      margin: 10px;
    }
    & p {
      opacity: 0.6;
    }
  }
  .items {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
    .container {
      position: relative;
      height: 520px;
      width: 280px;
      margin: 40px auto;
      text-align: center;
      justify-content: center;
      padding-top: .1px;
      align-items: center;
      transition: all 0.4s;
      background-color: #f7f6f6d1;
      .firstcir {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 30px auto;
        border: 30px solid #e2dfdf86;
        background: linear-gradient(40deg, #7485f5, #56aff0);
        transition: 1s;
        &:hover {
          transform: rotate(360deg);
        }
        /* background-color: #63BBFC; */
        .circle {
          position: absolute;
          /* transform: translate(100); */
          height: 90px;
          width: 90px;
          /* border: 5px solid #afb1af86; */
          border-radius: 50%;
          background-color: #fff;
          align-items: center;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          font-size: 2.1rem;
          font-weight: bold;
        }
      }
      & hr {
        margin: 15px auto;
        font-weight: bolder;
        opacity: 0.7;
      }
      & h2 {
        margin-bottom: 20px;
        font-weight: bold;
      }
      & p {
        opacity: 0.7;
      }
      & h1 {
        /* display: none; */
      }
      & button {
        display: none;
        justify-content: center;
        width: 80%;
        height: 35px;
        outline: none;
        cursor: pointer;
        border: none;
        font-weight: bold;
      }
      &:hover {
        background: linear-gradient(80deg, #8292ff, #63bcfc);
        transform: scale(1.06);
        z-index: 1;
        .firstcir {
          transform: rotate(360deg);
        }
        & h1 {
          display: none;
        }
        & button {
          display: block;
          /* width: 100px;
                    height: 35px; */
          align-items: center;
          justify-content: center;
          transform: translateX(12%);
          transition: all 0.4s;
          &:hover {
            background-color: #63bcfc;
            border: 1px solid #fff;
            margin-left: 26px;
            transform: scale(1.1);
            border-radius: 20px;
          }
        }
      }
    }
  }
}

/* --------------------Footer Starts--------------------- */
.footer{
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 120px 0px;
  background-color: #04091E;
  justify-content: center;
  color: #fff;
  align-items: center;
  .content{
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    & div{
      opacity: 1;
      & h3{
        font-size: 1.5rem;
        margin: 20px 0;
      }
      & p{
        opacity: 0.6;
        font-size: .9rem;
      }
    }
    .about{
      width: 420px;
      padding: 20px 0px;
    }
    .news{
      margin-left:40px;
      width: 450px;
      padding: 0;
      .info{
        transform: translateX(25px);
      }
      .info .mil{
        width: 300px;
        font-size: 1rem;
        height: 35px;
        justify-content: left;
        outline: none;
        left: 0;
        text-align: left;
        padding-left: 20px;
        margin-left: -30px;
        /* transform: translateX(-50px); */
      }
      .info .btn{
        left: 0;
        cursor: pointer;
        margin-left:-20px ;
        border: 1px solid #000;
        outline: none;
        height: 35px;
        color: #fff;
        font-size: 1rem;
        background-color: #3a57e7;
        width: 80px;
      }
    }
    .followme{
      padding: 20px 0px;
      width: 200px;
      .icons{
        margin: 10px auto;
        display: flex;
        & ul{
          display: flex;
          list-style: none;
          & li{
            margin-right: 23px;
            margin-top: 10px;
            transform: scale(1.4);
            transition: all .5s;
            cursor: pointer;
            &:hover{
              transform: scale(2);
            }
          }
        }
      }
    }
  }
}


/* --------------------Footer End--------------------- */



/* --------------------Responsive sectin Starts------------------------ */


@media (max-width: 768px) {
  .header {
    width: 100%;
    height: fit-content;
    position: fixed;
    .navi input:checked ~ ul{
      left: 0;
    }
    .navi ul{
      /* display: none; */
      position: fixed;
      top: 50px;
      left: -500px;
      /* left: 0; */
      width: 100%;
      height: 100vh;
      transition: all .5s;
      display: block;
      background-color: #fff;
      transition: all .4s;
      & li{
        line-height: 20px;
        margin-top: 40px;
        & a{
          font-size: 1rem;

        }

      }
    }
  }
  .header .navi label{
    /* display: block; */
    margin-right: -300px;

  }
  .me {
    display: inline;
    .textarea {
      text-align: center;
      transform: scale(0.7);
      justify-content: center;
      width: 100%;
      margin-top: 80px;
      & h5 {
        font-size: 1.5rem;
      }
    }
    .myimg {
      transform: scale(0.5);
      margin-top: -360px;
      text-align: center;
      justify-content: center;
      width: 100%;
    }
  }
  & hr {
    margin-top: -125px;
    margin-bottom: 50px;
  }
  .aboutme {
    text-align: center;
    width: 100%;
    display: inline;
    .img {
      transform: scale(0.5);
      justify-content: center;
      margin-top: -100px;
    }
    .textarea {
      transform: scale(0.8);
      margin: -160px auto 10px;
      width: 100%;
      justify-content: center;
    }
  }

  .servicearea h1{
    font-size: 1.7rem;
    width: 100%;
    
  }
  .celint {
    height: fit-content;
    width: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
    .container {
      color: #000;
      margin: 20px auto;
      transform: scale(0.7);
      height: fit-content;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .section {
    transform: scale(0.9);
    margin-top: -100px;
  }
  .section3 {
    transform: scale(0.7);
    justify-content: center;
    /* align-items: center; */
    margin-top: -500px;
    .items {
      align-items: center;
      width: 100%;
      justify-content: center;
      display: inline;
    }
  }
  .footer .followme{
    transform: translateX(-115px);
  }
}
  